/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary-1: #a734bd;
  --color-primary-2: #ff006a;
  --color-light: #fff;
  --color-grey-light-1: #dbdbdb;
  --color-dark: #010101;
  --color-grey-dark-1: #342134; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-grey-light-1);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--color-dark); }

.container {
  width: 1200px;
  margin: 0 auto; }

ul,
li,
a {
  list-style: none;
  text-decoration: none; }

.heading-1 {
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #a734bd 0%, #ff006a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0; }
  .navigation__list {
    display: flex;
    gap: 4.8rem; }
  .navigation__link {
    font-size: 1.6rem;
    color: var(--color-light);
    text-transform: Uppercase; }

.banner__area {
  padding-top: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13.6rem; }
  .banner__area-text {
    display: flex;
    flex-direction: column;
    gap: 3.2rem; }
  .banner__area .heading-1 {
    font-size: 7rem;
    width: 40.5rem;
    line-height: 7.6rem; }
  .banner__area .paragraph {
    font-size: 1.6rem;
    line-height: 2.8rem;
    width: 40.5rem; }
  .banner__area .download-links {
    display: flex;
    gap: 2.4rem; }
