.header {
  position: relative;
  &__area-gradient {
    position: absolute;
    width: 75.2rem;
    height: 75.2rem;
    left: -48rem;
    top: 9.2rem;
    z-index: -1;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(70px);
    }
  }
}
