.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0;

  &__list {
    display: flex;
    gap: 4.8rem;
  }

  &__link {
    font-size: 1.6rem;
    color: var(--color-light);
    text-transform: Uppercase;
  }
}
