:root {
  --color-primary-1: #a734bd;
  --color-primary-2: #ff006a;

  // --color-primary-light: #ff3366;
  // --color-primary-dark: #ba265d;

  --color-light: #fff;
  --color-grey-light-1: #dbdbdb;

  --color-dark: #010101;
  --color-grey-dark-1: #342134;

  // --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  // --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  // --line: 1px solid var(--color-grey-light-2);
}

// $bp-largest: 75em;     // 1200px
// $bp-large: 68.75em;    // 1100px
// $bp-medium: 56.25em;   // 900px
// $bp-small: 37.5em;     // 600px
// $bp-smallest: 31.25em; // 500px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: "Poppins", sans-serif;
  // font-family: 'Clash Display', sans-serif;
  color: var(--color-grey-light-1);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--color-dark);
}

.container {
  width: 1200px;
  margin: 0 auto;
}
// ::selection {
//     background-color: $color-primary;
//     color: $color-white;
// }

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
