.heading-1 {
  font-family: "Clash Display";
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #a734bd 0%, #ff006a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
