.banner__area {
  padding-top: 5.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13.6rem;

  &-text {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .heading-1 {
    font-size: 7rem;
    width: 40.5rem;
    line-height: 7.6rem;
  }

  .paragraph {
    font-size: 1.6rem;
    line-height: 2.8rem;
    width: 40.5rem;
  }

  .download-links {
    display: flex;
    gap: 2.4rem;
  }
}
